/*
* Estilos de tu proyecto
*/
header {
  background-color: #2c3e50;
  box-sizing: border-box;
  overflow: hidden;
}

.logo,
ul {
  display: inline-block;
}

.logo {
  align-self: center;
  justify-content: flex-start;
}

nav {
  color: #ffffff;
  display: flex;
  justify-content: space-around;
}

li{
  display: inline-block;
  list-style: none;
  padding: 20px;
}

a{
  color: #ffffff;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
}

.enlace:hover{
  color: #18bc9c;
}

#start {
  background-color: #18bc9c;
  height: 90vh;
}

.Content {
  display: flex;
  justify-content: center;
}

.imagen {
  align-self: center;
}

.col-1, .col-2{
  align-self: center;
  color: #ffffff;
  text-align: center;
}

#text-principal {
  font-size: 70px;
  margin: 7px;
}

hr {
  border: 3px solid #ffffff;
  bottom: 14px;
  display: inline-flex;
  position: relative;
  width: 18%;
}

.icon-star-full {
  font-size: 34px;
  margin: 7px;
}

h2 {
  font-weight: 100;
  margin: 10px;
}

.col-2{
  align-self: center;
  color: #333333;
  text-align: center;
}

.raya2 {
  border: 3px solid #2C3E50;
}

.start2 {
  color: #2C3E50;
}

.icon-zoomin {
  color: #ffffff;
  display: none;
  font-size: 77px;
  left: 42%;
  position: absolute;
  top: 35%;
}
.div-modal{
  display: inline-block;
  height: 250px;
  margin: 7px;
  position: relative;
  width: 350px;
}

img.modal-img{
  height: 100%;
  width: 100%;
}

.modal{
  background-color: #ffffff;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.ventana{
  left:-90px;
  text-align:center;
}

#imagen{
  margin: 14px auto;
  width: 600px;
}

div.boton-cerrar{
  color: #8c6464;
  cursor: pointer;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 57px;
  font-weight: bold;
  margin-left: 500px;
  padding: 2px;
  position: absolute;
  width: 20px;
}
.div-modal:hover {
  background-color: rgba(9, 199, 147, 1);
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.s;
}

.div-modal:hover .imagen{
  opacity: 0.4;
  transition: all 0.3s;
}

.div-modal:hover .icon-zoomin{
  display: block;
}
